<div class="container">
  <div class="row" cdkDropListGroup>
      <div class="dragdrop-container col-lg-4">
        <h2 class="col-h2">Taken 
          <i class="fa fa-caret-up dropdown-icon small-screen float-right" (click)="slideToggle($event)"></i>
          <span class="float-right">{{ taken.length }}</span>
        </h2>

        <div 
          cdkDropList
          [cdkDropListData]="taken"
          class="dragdrop-list slideable"
          (cdkDropListDropped)="drop($event)">
          <div class="dragdrop-box" *ngFor="let item of taken" cdkDrag>
            <div class="dragdrop-item-wrapper">
              <div class="dragdrop-item">{{ item }}
                <i class="fa fa-caret-up dropdown-icon" (click)="slideToggle($event)"></i>
              </div>
              <div class="slideable">
                <div class="dragdrop-subitem">TEST</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="dragdrop-container col-lg-4">
        <h2 class="col-h2">Doing 
          <i class="fa fa-caret-up dropdown-icon" (click)="slideToggle($event)"></i>
          <span class="float-right">{{ doing.length }}</span>
        </h2>
    
        <div
          cdkDropList
          [cdkDropListData]="doing"
          class="dragdrop-list slideable"
          (cdkDropListDropped)="drop($event)">
          <div class="dragdrop-box" *ngFor="let item of doing" cdkDrag>
              {{ item }}
          </div>
        </div>
      </div>

      <div class="dragdrop-container col-lg-4">
        <h2 class="col-h2">Done 
          <i class="fa fa-caret-up dropdown-icon" (click)="slideToggle($event)"></i>
          <span class="float-right">{{ done.length }}</span>
        </h2>
    
        <div
          cdkDropList
          [cdkDropListData]="done"
          class="dragdrop-list slideable"
          (cdkDropListDropped)="drop($event)">
          <div class="dragdrop-box" *ngFor="let item of done" cdkDrag>
              {{ item }}
          </div>
        </div>
      </div>
  </div>
</div>
