<div class="row" cdkDropListGroup>
    <div class="example-container col-lg-4">
      <h2>Taken</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="taken"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of taken" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="example-container col-lg-4">
      <h2>Doing</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="doing"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of doing" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="example-container col-lg-4">
      <h2>Done</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="done"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
      </div>
    </div>
  </div>
  