<div class="container">
  <div class="row" cdkDropListGroup>
      <div class="example-container col-lg-4">
        <h2 class="col-h2">Taken 
          <i class="fa fa-caret-up dropdown-icon float-right" (click)="slideToggle($event)"></i>
          <span class="float-right itemListLength">{{ taken.length }}</span>
        </h2>

        <div 
          cdkDropList
          [cdkDropListData]="taken"
          class="example-list slideable"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of taken" cdkDrag>
              {{ item }}
          </div>
        </div>
      </div>

      <div class="example-container col-lg-4">
        <h2 class="col-h2">Doing 
          <i class="fa fa-caret-up dropdown-icon" (click)="slideToggle($event)"></i>
          <span class="float-right itemListLength">{{ doing.length }}</span>
        </h2>
    
        <div
          cdkDropList
          [cdkDropListData]="doing"
          class="example-list slideable"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of doing" cdkDrag>
              {{ item }}
          </div>
        </div>
      </div>

      <div class="example-container col-lg-4">
        <h2 class="col-h2">Done 
          <i class="fa fa-caret-up dropdown-icon" (click)="slideToggle($event)"></i>
          <span class="float-right itemListLength">{{ done.length }}</span>
        </h2>
    
        <div
          cdkDropList
          [cdkDropListData]="done"
          class="example-list slideable"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of done" cdkDrag>
              {{ item }}
          </div>
        </div>
      </div>
  </div>
</div>
